.shiny-text {
  color: #b5b5b5a4;
  background: linear-gradient(
    120deg,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shiny-text-shine 5s linear infinite;
}

.shiny-text--disabled {
  animation: none;
}

@keyframes shiny-text-shine {
  0% { background-position: 100%; }
  100% { background-position: -100%; }
}
